/* Write your CSS here */

.Main-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    background-image: url('../assets/background_image.png');
  }
  
  .Content-Container {
    width: 400px;
    height: 300px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 16px 0px rgba(135, 173, 214, 0.85);
  }
  
  .heading {
    color: #0b69ff;
    font-family: Roboto;
  }
  
  .Random-btn {
    background-color: #0b69ff;
    padding: 15px 25px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .RandomNumber {
    color: #0b69ff;
    font-size: 30px;
    font-weight: bold;
  }
  
  .description {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
  }